<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>

<body>
<center>
    <div> CONTAINER FOR THE LOGO</div><br>
</center>
<center>
    <div>
        <form action="/admin">
            <label for="login">Login: </label>
            <input type="text" id="login" name="login" value="Type your login..."><br>
            <label for="password">Password: </label>
            <input type="text" id="password" name="password" value="Type your password..."><br><br>
            <input type="submit" value="Login">
        </form>
    </div>
</center>
</body>
</html>